---
---
# Table of contents

---

## TUPLE
1. What is tuple?
2. Access Tuple Items
3. tuple indexing
4. updating tuples
5. Unpacking a Tuple
6. Join tuples
7. Tuple Methods

---
---

# 1. what is tuple?
* Tuples are sequenstial, indexable hetrogeneous containers which are immutable in nature
* `( )` are used to represent a tuple, tuple can never be empty, it takes atleast 2 values
* a tuple with one element can be created using `,` and passing no second element
* there are two methods we can perform on tuple

    * count: gives the frequency of given element
    * index: gives the index of first occurence of given element

* we can use tuple to unpack
* tuple are faster when compared to list

In [ ]:
mytuple = ("apple", "banana", "cherry")

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.
<br>
Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

## Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
## Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## Allow Duplicates
Since tuples are indexed, they can have items with the same value

In [ ]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# 2. Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# 3. tuple indexing
## Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

###  Negative Indexing
Negative indexing means start from the end.
<br>
-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

# 4. Update tuples

## Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

## Remove Items
Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

# 5. Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#6. Join Tuples
Join Two Tuples
To join two or more tuples you can use the + operator

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# 7. Tuple Methods

- count():	Returns the number of times a specified value occurs in a tuple
- index():	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
x = (1,2,3, print, str, True)
print(x.count(1))
print(x.index(1))

2
0

## Example programs

In [ ]:
x = (1,2,3, print, str, True)
print(x, len(x), type(x), sep = '\n')

(1, 2, 3, <built-in function print>, <class 'str'>, True)
6
<class 'tuple'>

In [ ]:
print(x[0], x[-1], sep = '\n')
print(x[:3], x[-3:], sep = '\n')

1
True
(1, 2, 3)
(<built-in function print>, <class 'str'>, True)

In [ ]:
print(0 in x, int not in x,  sep = '\n')

False
True

In [ ]:
# creating an empty tuple and trying to create a tuple with one element
x = []
print(x, len(x), type(x), sep = '\n')
print()
x = ()
print(x, len(x), type(x), sep = '\n')
print()

x = (1)
#print(x, len(x), type(x), sep = '\n')

x = (1,)
print(x, len(x), type(x), sep = '\n')
print()

[]
0
<class 'list'>

()
0
<class 'tuple'>

(1,)
1
<class 'tuple'>

In [ ]:
# type-casting
a = [1,2,3]
x = tuple(a)
print(x, len(x), type(x), sep = '  ')
print()

a = 'generic string'
x = tuple(a)
print(x, len(x), type(x), sep = '  ')
print()

(1, 2, 3)  3  <class 'tuple'>

('g', 'e', 'n', 'e', 'r', 'i', 'c', ' ', 's', 't', 'r', 'i', 'n', 'g')  14  <class 'tuple'>

In [ ]:
# methods in tuple: count & index
print(x.count('e'), x.index('e'), sep = '\n')
print()
print(x.count('zz'))
#print(x.index('zz')) # uncomment to see the error

2
1

0

In [ ]:
# unpacking
a,b = (1,2)
print(a,b, sep = '  ')
print()
a,b,c = 'zyx'
print(a,b,c, sep = '  ')
print()
a,b = [1,2] # upack
print(a,b, sep = '  ')

1  2

z  y  x

1  2

In [ ]:
a, b = (1,2,3)
print(a, b)

ValueError: ignored