

---



---


# Table of contents

---


## SETS

1. What is set?
2. set items
3. Adding and removing elements in set
4. set methods





---



---

# 1. What is set?
# Set:
>- Sets are used to store multiple items in a single variable.
>- A set is a collection which is unordered, unchangeable*, and unindexed.

```Note: Set items are unchangeable, but you can remove items and add new items.```
>- Sets are written with curly brackets.```{}```

```python
#Create a Set:
this_set = {"apple", "banana", "cherry"}
print(this_set)
```

```Note: Sets are unordered, so you cannot be sure in which order the items will appear.```

#### creating a set

In [1]:
x = {1,2.5,'three',print, int}
print(x, len(x), type(x), sep = '\n')

{1, 2.5, 'three', <built-in function print>, <class 'int'>}
5
<class 'set'>

In [ ]:
# set can't have duplicate elements
# type casting
a = 'malayalam'
print(a, len(a), type(a), sep = '  ')
x = set(a)
print(x, len(x), type(x), sep = '  ')

In [ ]:
x = {}
print(x, len(x), type(x), sep = '\n')
x = set()
print(x, len(x), type(x), sep = '\n')
x = {1}
print(x, len(x), type(x), sep = '\n')

In [3]:
x_ls = [1,1221,55,41,'shjd',False]
x_ls[0]

1

In [5]:
x_set = { 1,1221,55,41,'shjd',False}
x_set[0] # uncomment to look at the error

TypeError: 'set' object is not subscriptable

# 2. Set Items
>- Set items are unordered, unchangeable, and do not allow duplicate values.
#Unordered:
>- Unordered means that the items in a set do not have a defined order.
>- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
#Unchangeable:
>- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

#Get the Length of a Set:
>- To determine how many items a set has, use the len() function.

```python
#Get the number of items in a set:
this_set = {"apple", "banana", "cherry"}
print(len(this_set))
```

# Set Items - Data Types
>- set items can be of any data type:

```python
#String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

# Access Items
>- You cannot access items in a set by referring to an index or a key.
>- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

```python
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)
```

# 3. Add Items
>- Once a set is created, you cannot change its items, but you can add new items.
>- To add one item to a set use the add() method.

```python
#Add an item to a set, using the add() method:
this_set = {"apple", "banana", "cherry"}
this_set.add("orange")
print(this_set)
```

# 3. Adding and removing elements in set
# Add Sets:
>- To add items from another set into the current set, use the update() method.

```python
#Add elements from tropical into thisset:
this_set = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
this_set.update(tropical)
print(this_set)
```

# Add Any Iterable
>- The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

```python
#Add elements of a list to at set:
this_set = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
this_set.update(mylist)
print(this_set)
```

# Remove Set Items:
>- To remove an item in a set, use the remove(), or the discard() method.

```python
#Remove "banana" by using the remove() method:
this_set = {"apple", "banana", "cherry"}
this_set.remove("banana")
print(this_set)
```

```Note: If the item to remove does not exist, remove() will raise an error.```

```python
#Remove "banana" by using the discard() method:
this_set = {"apple", "banana", "cherry"}
this_set.discard("banana")
print(this_set)
```

# Loop Items
>- You can loop through the set items by using a for loop:

```python

#Loop through the set, and print the values:
this_set = {"apple", "banana", "cherry"}
for x in this_set:
  print(x)
```

In [ ]:
# Loop through the set, and print the values:
this_set = {"apple", "banana", "cherry"}
for x in this_set:
  print(x)

# 4. SET methods
Python has a set of built-in methods that you can use on sets.




|No|Method Name|Description|
|---|---|---|
|1|add\(\)    |Adds an element to the set|
|2|clear\(\)    |Removes all the elements from the set|
|3|copy\(\)  |Returns a copy of the set|
|4|difference\(\)    |Returns a set containing the difference between two or more sets|
|5|difference\_update\(\)    |Removes the items in this set that are also included in another, specified set|
|6|discard\(\)    |Remove the specified item|
|7|intersection\(\)    |Returns a set, that is the intersection of two other sets|
|8|intersection\_update\(\)    |Removes the items in this set that are not present in other, specified set\(s\)|
|9|isdisjoint\(\)    |Returns whether two sets have a intersection or not|
|10|issubset\(\)    |Returns whether another set contains this set or not|
|11|issuperset\(\)    |Returns whether this set contains another set or not|
|12|pop\(\)    |Removes an element from the set|
|13|remove\(\)    |Returns a set with the symmetric differences of two sets|
|14|symmetric\_difference\_update\(\)    |inserts the symmetric differences from this set and another|
|15|union\(\)    |Update the set with the union of this set and others|

#### add()
* it adds exactly one element to the set

In [ ]:
x = set('malayalam')
print(x)
x.add('z')
print(x)
x.add(1)
#x.add('xx',5) # uncomment to see the error

#### update()
* we use update to add two or more than two elements to set

In [ ]:
print(x)
x.update([4,8,6])
print(x)

#### remove() & discard()
* we use remove() and discard() to remove element in set
* remove() gives an error when we pass an element that isn't in the set
* while discard doesn't gives an error in above sitution
* we pass an element as input/arg for remove() and discard() methods

In [ ]:
print(x)
x.remove(8)
print(x)
x.discard(6)
print(x)
# now both 6 & 8 have been removed, we try to remove 6 again using discard and remove
x.discard(6)
#x.remove(6) # uncomment to see the error

#### pop()
* it is going to pop a random element, pop in sets takes no inputs/arg

In [ ]:
print(x)
a = x.pop()
print(x, a, sep = '\n')

#### copy()

In [ ]:
a = set('hello world!')
b = a
print((a, id(a)), (b, id(b)), sep = '\n')
print()
a.update(['xx','yy'])
print((a, id(a)), (b, id(b)), sep = '\n')
print()

In [ ]:
a = set('hello world!')
b = a.copy()
print((a, id(a)), (b, id(b)), sep = '\n')
print()
a.update(['xx','yy'])
print((a, id(a)), (b, id(b)), sep = '\n')
print()

#### clear()
* clear() is going to erase all elements and returns an empty set

In [ ]:
print(b)
b.clear()
print(b)

#### union

In [1]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
c = a.union(b)
d = b.union(a)
print(a, b , c, d, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

#### intersection

In [13]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
c = a.intersection(b)
d = b.intersection(a)
print(a, b , c, d, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5}

#### difference

In [15]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
c = a.difference(b)
d = b.difference(a)
e = set()
print(c, d, sep = '\n')

{1, 2, 3}
{8, 6, 7}

In [17]:
b.difference(e)

{4, 5, 6, 7, 8}

#### symmetric difference

In [19]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
c = a.symmetric_difference(b)
d = b.symmetric_difference(a)

print(a, b , c, d, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

#### intersection_update
* it'll calculate the intersection of two sets and update it as value of set it is called upon

* a = a.intersection(b) >>>>>>> a.intersection_update(b)

In [21]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
print(a, b, sep = '\n')
a.intersection_update(b)
print(a, b, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5, 6, 7, 8}

#### difference_update
* it'll calculate the difference of two sets and update it as value of set it is called upon

* a = a.difference_update(b) >>>>>>> a.difference_update(b)

In [23]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
print(a, b, sep = '\n')
a.difference_update(b)
print(a, b, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5, 6, 7, 8}

#### symmetric_difference_update
* it'll calculate the symmetric_difference of two sets and update it as value of set it is called upon

* a = a.symmetric_difference_update(b) >>>>>>> a.symmetric_difference_update(b)

In [25]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
print(a, b, sep = '\n')
a.symmetric_difference_update(b)
print(a, b, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

#### 'isdisjoint', 'issubset', 'issuperset'

In [27]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])
c = a.union(b)
d = {11,12,13,14,15}
print(a, b, c, d, sep = '\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{11, 12, 13, 14, 15}